@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Nova Mono', monospace;
    background-color: #28282B;
    color: #FFFFF0;
    overflow:hidden;
    align-items:center;
    justify-content:center;
    gap: 1.5rem;
    background-color: #FFFFFF;
    background-image: linear-gradient(242deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}
main {
    position: relative;
    width: 100rem;
    height: 60rem;
    backdrop-filter: blur(200px);
    filter:blur;
    box-shadow: 0 3rem 5rem rgba(0,0,0,0.25);
    border-radius: 9px;
    display: flex;
    overflow: hidden;
}

.header {
    position: relative;
    font-size: 32px;
    font-family: 'Nova Mono', monospace;
    text-align: center;
    width: fit-content;
    padding: 13px;
    backdrop-filter: blur(100px);
    filter:blur;
    box-shadow: 0 3rem 5rem rgba(0,0,0,0.25);
    border-radius: 12px;
}

.footer {
    position: relative;
    font-size: 16px;
    width: fit-content;
    backdrop-filter: blur(100px);
    filter:blur;
    box-shadow: 0 3rem 5rem rgba(0,0,0,0.25);
    border-radius: 12px;
    padding: 5px;
}

.hidden {
    display: none;
}

.player {
    flex: 50%;
    padding: 9rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

.name {
    position: relative;
    font-size: 4rem;
}

.current {
    background-color: #FF0000;
    opacity: 0.8;
    border-radius: 9px;
    color: #FFFFFF;
    width: 65%;
    padding: 2rem;
    text-align: center;
}

.current-label {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ddd;
}

.current-score {
    font-size: 3.5rem;
}

.btn {
   position: absolute;
   left: 50%;
   height: 50px;
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateX(-50%);
   color: #444;
   background: none;
   border: none;
   font-family: inherit;
   font-size: 3rem;
   cursor: pointer;

   background-color: red;
   backdrop-filter: blur(10px);

   padding: 0.7rem 2.5rem;
   border-radius: 5rem;
   box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--new {
    top: 4rem;
    background-color: royalblue;
}

.btn--rock {
    top: 40rem;
}

.btn--paper {
    top: 46rem;
}

.btn--scissor {
    top: 52rem;
}

.btn:active {
  transform: translate(-50%, 5px) !important;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.versus {
    position: absolute;
    left: 50%;
    top: 21rem;
    transform: translateX(-50%);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.current--winner--background {
    font-weight:bolder;
    background-color: #7CFC00;
}

.player--name--winner {
    color: #7CFC00;
}

a {
    color: #FFFFF0;
    text-decoration: none;
}

a:hover {
    color: gold;
}